<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>com.tutorials.jsp.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>/html/default.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>200</session-timeout>
    </session-config>

    <!--<icon>-->
        <!--<small-icon></small-icon>-->
        <!--<large-icon></large-icon>-->
    <!--</icon>-->

    <description>
        This web application is asvanced jsp tutorial with web.xml
    </description>
    
    <mime-mapping>
        <extension>zip</extension>
        <mime-type>application/zip</mime-type>
    </mime-mapping>

    <distributable/>

    <locale-encoding-mapping-list>
        <locale-encoding-mapping>
            <locale>ua</locale>
            <encoding>UTF-8</encoding>
        </locale-encoding-mapping>
        <locale-encoding-mapping>
            <locale>ru</locale>
            <encoding>UTF-8</encoding>
        </locale-encoding-mapping>
    </locale-encoding-mapping-list>


</web-app>